<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Audio Input Page</title>
</head>
<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Indic Voice Search</h1><br>
                        <button onclick="startDictation()">Click here to speak</button><br><br>
                        <div class="form-group">
                            {% import "bootstrap/wtf.html" as wtf %}
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prompt examples</h5>
                        <p class="card-text">
                            <ul>
                                {% for prompt in response.prompts %}
                                    <li>{{ prompt }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div><hr>
        <div class="row">
            {% if response.response_audio_src %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Response Audio</h1>
                        <audio controls autoplay>
                            <source src="{{ url_for('static', filename='audios/audio'+follow_up_count+'.mp3') }}" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if chat_history %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Chat text</h1>
                        <div class="form-group">
                            {% for chat in chat_history[1:] %}
                            <p>{{chat.role}}: {{ chat.content }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div><br><br>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function startDictation() {
          if ('webkitSpeechRecognition' in window) {
            var language = document.getElementById('language').value;
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = false;
            recognition.lang = language;
            recognition.start();
        
            recognition.onresult = function(event) {
              var transcript = event.results[0][0].transcript;
              document.getElementById('voiceInput').value = transcript;
              recognition.stop();
            };
        
            recognition.onerror = function(event) {
              recognition.stop();
            };
          }
        }
        </script>
</body>
</html>